@using ECommerce.Data.ViewModels
@model RegisterVM

@{
    ViewData["Title"] = "Kayıt Ol";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Üye Olun</h4>
        </p>

        @if (TempData["Error"]!=null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Üzgünüz!</b> - @TempData["Error"]</span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @* ad soyad *@
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    @* email adres *@
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    @* şifre *@
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    @* şifre tekrar *@
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-primary float-right" value="Kayıt Ol" />

                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">İptal</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
