<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Kayıt başarılı bir şekilde tamamlandı</h2>

        <p>Artık kimlik bilgilerinizi kullanarak hesabınıza giriş yapabilirsiniz.</p>

        <hr>

        <p>Teşekkürler</p>
    </div>
</div>
